body {
	background-color: black;
	background-image: url("/img/2.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.panel {
	height: 100px;
	width: 30%;
}

.panel p{
	font-family: fantasy;
	font-size: 50px;
	position: center;
	color: red;
}

.panel label{
	color: white;
	font-family: 30px;
	font-size: 25px;
}

.panel input{
	width: 50%;
}

#registerButton{
	height: 100px;
	width: 100px;
	position: absolute;
	left: 20%;
	top: 35%;
}

#wrongLogin {
	font-size: medium;
	display: none;
	
}