<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "utf-8">
	<link href= 'css/home.css'  rel = 'stylesheet'>
	<link href= 'css/login.css'  rel = 'stylesheet'>
	<title> Home </title>
</head>
<body>
	<div class = "menuBar">
		<ul>
			<li><a> Home </a></li>
			<li><a> Discussion </a></li>
			<li><a> Story </a>
				<ul> 
					<li><a> Dark Souls 1 </a></li>
					<li><a> Dark Souls 2 </a></li>
					<li><a> Dark Souls 3 </a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div id = "info">
		<p id = "firstLine"> Welcome ashen one! <br> This is the official forum of Dark Souls</p>
	</div>

</body>
</html>