<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link href = 'css/login.css' rel = 'stylesheet'>
	<title> Login </title>
</head>
<body>
	<input id = "loginButton" type="image" src="../images/b1.gif" name = "login">
	<div class = "panel">
		<p> Login </p>
		<br>
		<br>
		<label> username </label>
		<br>
		<input type = "text" name = "enter password">
		<br>
		<label> password </label>
		<br>
		<input type = "password" name = "enter password">
		<br>
		<p id = "wrongLogin">Wrong credentials</p>
	</div>
	
</body>
</html>