<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href = '../css/register.css' rel = 'stylesheet'>
    <title> Register </title>
</head>
<body>
<form  th:action="@{/DS_Register}" method="post">
<input id = "registerButton" type="image" src="../img/b1.gif" name = "register">
<div class = "panel">
    <p> Register </p>
    <br>
    <br>
    <label> email </label>
    <br>
    <input type = "text" name = "emailAddress">
    <br>
    <label> username </label>
    <br>
    <input type = "text" name = "username">
    <br>
    <label> password </label>
    <br>
    <input type = "password" name = "password">
    <br>
    <p id = "wrongLogin">Wrong credentials</p>
</div>
</form>
</body>
</html>
